<footer class="devsite-utility-footer" style="display:none;">
  <nav class="devsite-utility-footer-nav devsite-nav devsite-full-site-width">
    <div class="devsite-utility-footer-nav-left">
      <form class="devsite-utility-footer-language">
        <select id="langSelector" class="kd-select">
          <option value="ar">العربية‬</option>
          <option value="de">Deutsch</option>
          <option value="en">English</option>
          <option value="es">Español</option>
          <option value="fr">Français</option>
          <option value="he">עִבְרִית</option>
          <option value="hi">Hindi</option>
          <option value="id">Bahasa Indonesia</option>
          <option value="it">Italiano</option>
          <option value="ja">日本語</option>
          <option value="ko">한국어</option>
          <option value="nl">Nederlands</option>
          <option value="pl">Polski</option>
          <option value="pt-br">Português (Brasil)</option>
          <option value="ru">Pусский</option>
          <option value="th">ภาษาไทย</option>
          <option value="tr">Türkçe</option>
          <option value="vi">Tiếng Việt</option>
          <option value="zh-cn">中文 (简体)</option>
          <option value="zh-tw">中文（繁體）</option>
        </select>
      </form>
      <span class="devsite-utility-footer-links">
        <a class="devsite-utility-footer-link" href="https://developers.google.com/site-terms">Terms</a>
        <a class="devsite-utility-footer-link" href="https://www.google.com/intl/en/policies/privacy/">Privacy</a>
      </span>
    </div>
    <div class="devsite-utility-footer-nav-right">
    </div>
  </nav>
</footer>
